html {
    margin: 0;
    padding: 0;
}

body {
    transition: all .5s ease-in-out;
}

.header-icon {
    height: 35px;
    width: auto;
}

.header-logo {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}

.next-meeting {
    text-align: center;
    font-size: 3rem;
    padding: 35px 165px;
    font-family: 'Source Code Pro', monospace;
}

.meetup-icon {
    height: 90px;
    width: auto;
    transition: all .5s ease-in-out;
}

.meetup-icon:hover {
    transform: scale(1.5) perspective(1px);
}

.darkBG {
    background-color: darkslategray;
}


/* CONTACT PAGE */
.ucs-floorplan {
    height: 80vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 600px) {
    .header-logo {
        height: 10vh;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5%;
    }

    /*HOME*/
    .next-meeting{
        text-align: center;
        font-size: 1.5rem;
        padding: 35px 15px;
        font-family: 'Source Code Pro', monospace;
    }

    .darkBG {
        background-color: white;
    }

    /* CONTACT PAGE */
    .ucs-floorplan {
        height: 65vh;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5%;
    }
}